.row#chat-window
  .col-md-9
    .well.well-sm
      #chat data-uri='#{request.host}:3001/websocket'
  .col-md-3
    #users-online
  .clearfix
.row#chat-form
  .col-md-12.message-form
    textarea#message-body placeholder='Enter message' name='message[body]' required='required'
    .cleafix
    button.btn.btn-primary.pull-right#message-send type='button' Send
    .clearfix
    - unless current_user.nil?
      input#message-user type='hidden' name='message[user_id]' value==current_user.id required='required'