.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h2== t('nd.users.register.form_label')
    = semantic_form_for resource, as: resource_name, url: registration_path(resource_name), :html => { :autocomplete => 'off' } do |f|
      == devise_error_messages!
      == f.input :email, :as => :email
      == f.input :name
      == f.input :avatar, :required => false
      == f.input :password
      == f.input :password_confirmation, :required => true
      == f.action :submit, :button_html => { :class => 'btn btn-success' }
  .clearfix
  == render 'devise/shared/links'