hr
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h2= t('nd.users.shared.links_info')
    .btn-group
      - if controller_name != 'sessions'
        = link_to t('nd.users.shared.sign_in'), new_session_path(resource_name), class: 'btn btn-success'
      - if devise_mapping.registerable? && controller_name != 'registrations'
        = link_to t('nd.users.shared.sign_up'), new_registration_path(resource_name), class: 'btn btn-success'
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'regisdtrations'
        = link_to t('nd.users.shared.forgot_pass'), new_password_path(resource_name), class: 'btn btn-default'
      - if devise_mapping.confirmable? && controller_name != 'confirmations'
        = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'btn btn-default'
      - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
        = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'btn btn-default'
      - if devise_mapping.omniauthable?
        .btn-group
          a.btn.btn-default.dropdown-toggle data-toggle='dropdown'
            = t('nd.users.shared.open_id')
            |&nbsp;
            span.caret
          ul.dropdown-menu role='menu'
            - resource_class.omniauth_providers.each do |provider|
              li
                = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)