nav.navbar.navbar-inverse.navbar-fixed-top role='navigation'
  .container
    .navbar-header
      button.navbar-toggle type='button' data-toggle='collapse' data-target='#nd-navbar'
        span.sr-only == t('nd.layout.navbar.toggle_nav')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href==root_path
        == t('nd.app.name')
    .collapse.navbar-collapse#nd-navbar
      ul.nav.navbar-nav.navbar-right
        li
          a href==root_path
            == t('nd.app.menu.index')
        li
          == link_to 'Chat', chat_path
        li
          a.user-menu-item data-toggle='ajaxModal' data-remote='#{user_modal_users_path}' data-target='#user-modal'
            - if current_user.nil?
              |Login
            - else
              = image_tag current_user.avatar.exists? ? current_user.avatar.url(:thumb) : current_user.remote_avatar, :class => 'img-responsive user-avatar'
              = current_user.username
            b.caret