- if @users.any?
  - @users.each do |user|
    .well.well-sm.user data-uid==user.id
      .media
        a.pull-left href='#'
          = image_tag user.avatar.url(:thumb), :class => 'img-rounded img-thumbnail media-object'
        .media-body
          .media-heading
            a href==user_path(user)
              = user.username
          .btn-group.btn-group-sm
            a.btn.btn-default href='#'
              |Poke