.row#user-header
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h2
      = @user.username
      - if current_user.id == @user.id
        .pull-right
          a.btn.btn-info.edit-user href==edit_user_path(@user)
            span.glyphicon.glyphicon-pencil
            = t('nd.users.profile.edit')

.clearfix
.row#user-profile
  .col-xs-12.col-sm-12.col-md-3.col-lg-3#user-info
    .avatar-wrap
      - if @user.avatar.exists?
        = image_tag @user.avatar.url, :class => 'img-responsive img-rounded img-thumbnail'
      - else
        = image_tag @user.remote_avatar, :class => 'img-responsive img-rounded img-thumbnail'
    hr
    .list-group.statistics-wrap
      .list-group-item.register-date
        h4.list-group-item-heading
          span.glyphicon.glyphicon-calendar.pull-right
          = t('nd.users.profile.registered_at')
        p.list-group-item-text= l @user.created_at
      .list-group-item.last-seen
        h4.list-group-item-heading
          span.glyphicon.glyphicon-eye-open.pull-right
          = t('nd.users.profile.last_seen')
        p.list-group-item-text= l @user.updated_at
      .list-group-item.messages-count
        h4.list-group-item-heading
          span.glyphicon.glyphicon-comment.pull-right
          = t('nd.users.profile.messages_count')
        p.list-group-item-text= @user.messages.count
  .col-xs-12.col-sm-12.col-md-9.col-lg-9
    h3= t('nd.users.profile.user_messages')
    .list-group
      - @user.messages.last(10).each do |message|
        .list-group-item