.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h2=t('nd.users.restore_password.page_title')
  .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-md-offset-3.col-lg-offset-3
    = semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
      = devise_error_messages!
      = f.input :email
      = f.action :submit, :button_html => {:class => 'btn btn-default', :value => t('nd.users.restore_password.button_label')}
  .clearfix
  = render 'devise/shared/links'