.modal-dialog.user-modal
  .modal-content
    .modal-header.clearfix
      button.close type="button" data-dismiss="modal" &times;
      h4.modal-title#modal-header
        span.row
          - if current_user.nil?
            span.col-md-12
              = t('nd.users.modal.login')
          - else
            span.col-md-5
              a href==user_path(current_user)
                span.glyphicon.glyphicon-user
                |&nbsp;
                = current_user.username
          - unless current_user.nil?
            span.col-md-7
              span.glyphicon.glyphicon-comment
              |&nbsp;
              =t('nd.users.modal.last_messages')
    .modal-body
      - if current_user.nil?
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            == render :partial => 'partials/login'
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            h3 Other actions
            .row
              .btn-group-vertical.col-md-12
                == link_to 'Register', new_user_registration_path, :class => 'btn btn-default'
                == link_to 'Forgot your password?', new_password_path(:user), :class => 'btn btn-default'
        .clearfix
      - else
        .row
          .col-xs-12.col-sm-12.col-md-5.col-lg-5
            div.user-avatar-wrap
              a href==user_path(current_user)
                - if current_user.avatar.exists?
                  == image_tag current_user.avatar.url, :class => 'img-responsive img-rounded img-thumbnail'
                - else
                  == image_tag current_user.remote_avatar, :class => 'img-responsive img-rounded img-thumbnail'
            / @TODO: user info
            .clearfix
            ul.list-group
              li.list-group-item.has-tooltip data-toggle="tooltip" data-placement="top" title="Registered at"
                span.badge
                  span.glyphicon.glyphicon-calendar
                = time_tag current_user.created_at
            |todo
          .col-xs-12.col-sm-12.col-md-7.col-lg-7
            - if @last_messages.any?
              .row
              - for message in @last_messages
                .col-md-6
                  .panel.panel-default
                    .panel-heading == message.created_at
                    .panel-body
                      = message.body
            - else
              |No messages for user
        .clearfix
    .modal-footer
      a.btn.btn-default href="#" class="btn btn-white" data-dismiss="modal" Dismiss
      - unless current_user.nil?
        == link_to('Logout', destroy_user_session_path, :class => 'btn btn-danger')