.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    h2= t('nd.users.login.page_title')
  .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-md-offset-3.col-lg-offset-3
    = semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email
      = f.input :password
      = f.input :remember_me, :as => :check_boxes, :collection => {t('nd.users.login.remember_me') => true}, :wrapper_class => 'checkbox', :label => false
      = f.action :submit, :button_html => { :class => 'btn btn-success', :value  => t('nd.users.login.login_btn') }
  .clearfix
  = render 'devise/shared/links'