/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require formtastic-bootstrap
 *= require jquery.jscrollpane
 *= require_self
 */
html, body {
  height : 100%;
}

body {
  padding-top : 70px
}

.user-menu-item {
  cursor : pointer;
}

.user-avatar {
  max-height   : 20px;
  float        : left;
  margin-right : 5px;
}

.user-modal {
  button.close {
    margin-top : 2px;
    display    : block;
    width      : 20px;
    text-align : center;
    position   : relative;
    z-index    : 9999;
  }
  #modal-header {
    margin-right : -20px;
    float        : left;
    width        : 100%;
    .row {
      display : block;
      & > span {
        display    : block;
        text-align : center;
      }
    }
  }
  .user-avatar-wrap {
    margin-bottom : 10px;
    a {
      display    : block;
      text-align : center;
    }
    img {
      max-height : 200px;
    }
  }
}

#chat {
  min-height : 100%;
  .spinner {
    width        : 240px !important;
    height       : 120px;
    padding-left : 120px;
    margin       : 120px auto 0;
    top          : 0 !important;
    left         : 0 !important;
  }
  .message {
    margin-bottom : 10px;
  }
}

#user-header .edit-user span {
  margin-right : 5px;
}

#user-profile {
  .statistics-wrap {
    h4 span {
      margin-right : 5px;
    }
  }
}

#chat-wrap {
  position    : absolute;
  top         : 0;
  left        : 0;
  width       : 100%;
  height      : 100%;
  overflow    : hidden;
  padding-top : 70px;
  .container {
    height : 100%;
    .row {
      &#chat-window {
        height : 70%;
        .col-md-9, .col-md-9 .well {
          height : 100%;
        }
      }
      &#chat-form {
        padding-top : 30px;
        height      : 30%;
      }
    }
  }
}