doctype html
html
  head
    title Дипломный чат
    == stylesheet_link_tag 'application', :media => :all, 'data-turbolinks-track' => true
    == csrf_meta_tags
  body
    == render :partial => 'partials/header'
    .container
      == yield
    div.modal.fade#user-modal tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'
    == javascript_include_tag :application, 'data-turbolinks-track' => true
    - if current_page?(chat_path)
      ==javascript_include_tag 'chat'